name: ci

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        env:
          SESSION_REDIS_SECRET_KEY: ${{ secrets.SESSION_REDIS_SECRET_KEY }}
          TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
          TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          APP_URL: ${{ secrets.APP_URL }}
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
          CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
        run: |
          docker build -t 3ba2ii/paaws:latest --build-arg SESSION_REDIS_SECRET_KEY=$SESSION_REDIS_SECRET_KEY --build-arg TWILIO_ACCOUNT_SID=$TWILIO_ACCOUNT_SID --build-arg TWILIO_AUTH_TOKEN=$TWILIO_AUTH_TOKEN --build-arg SENDGRID_API_KEY=$SENDGRID_API_KEY --build-arg APP_URL=$APP_URL --build-arg GOOGLE_MAPS_API_KEY=$GOOGLE_MAPS_API_KEY --build-arg CORS_ORIGIN=$CORS_ORIGIN
